body {
  background-color: lightgrey;
}
h1, h2, h3 {
  text-align: center;
}
#wrapper {
  width: 80%;
  margin: auto;
  background-color: beige;
  box-shadow: 10px 10px grey;
}
div {
  width: 90%;
  margin: auto;
}
.itembox {
  border-style: solid;
  border-radius: 25px;
  border-color: black;
  box-shadow: 5px 5px black;
  background-color: navajowhite;
  color: brown;
  padding: 10px 10px 10px 10px;
}
.favorite {
  border-style: double;
  border-radius: 25px;
  border-color: black;
  box-shadow: 5px 5px black;
  background-color: rgb(243, 200, 135);
  color: red;
  padding: 10px 10px 10px 10px;
}
ol {
  background-color: whitesmoke;
  list-style-type: upper-roman;
}
ul {
  background-color: grey;
  list-style-type: circle;
}
#n ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: navajowhite;
}
#n li {
  display: inline;
  float: left;
}
#n li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
#n li a:hover {
background-color: white;
}